.cards {
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    &__item {
        min-height: 248px;
        background: var(--color-white);
        box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    &__content {
        min-width: 624px;
        min-height: 228.47999572753906px;
        position: relative;
        left: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__logo {
        height: 56.48px;
        
        &--sber {
            height: 36.48px;
            padding-top: 20px;
        }
        
    }

    &__title {
        height: 80px;
        display: flex;
        flex-direction: column;
        gap: 8px;



        h3 {
            height: 48px;
            font-weight: 700;
            font-size: 40px;
            line-height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            margin: 0;
            color: #26262699;
        }

    }

    &__link {
        width: 253px;
        height: 52px;
        background: linear-gradient(93.28deg, #99D80A 1.08%, #25B920 53.52%, #02ADEE 103.01%);
        color: var(--color-white);
        border-radius: 8px;
        font-weight: 590;
        font-size: 24px;
        line-height: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        letter-spacing: -0.03em;
    }

    &__image {
        min-height: 228.47999572753906px;
        margin-left: auto;
        z-index: 1;
    }

    &__decor {
        position: relative;

        &--popcorn {
            top: 58.05px;
        }

        &--okko {
            top: 15.23px;
        }
    }

    &__ellipse {
        position: absolute;
        width: 1139px;
        height: 338px;
        background: linear-gradient(97.8deg, rgba(5, 174, 235, 0.4) -19.65%, rgba(4, 217, 3, 0.4) 49.44%);
        filter: blur(210px);
        top: 76px;
        left: 700px;

        &--okko {
            background: linear-gradient(144.43deg, rgba(77, 14, 198, 0) 8.14%, #4D0EC6 79.15%);
        }
    }
}