@use 'sass:map';
@use '../global/mixins' as *;
@use '../global/tokens' as tokens;

// Описываем темы централизованно
$themes: (
    sber: (
        ellipse: linear-gradient(97.8deg, rgba(5, 174, 235, .4) -19.65%, rgba(4, 217, 3, .4) 49.44%),
        link-bg: linear-gradient(93.28deg, #99D80A 1.08%, #25B920 53.52%, #02ADEE 103.01%),
        logo-h: 36px
    ),
    okko: (
        ellipse: linear-gradient(144.43deg, rgba(77, 14, 198, 0) 8.14%, #4D0EC6 79.15%),
        link-bg: #3705AB,
        logo-h: 56px
    ),
    samocat: (
        ellipse: linear-gradient(129.73deg, rgba(254, 52, 91, 0) 12.55%, #FE345B 72.7%),
        link-bg: #FF335F,
        logo-h: 56px
    ),
    citydrive: (
        ellipse: linear-gradient(144.43deg, rgba(77, 14, 198, 0) 8.14%, #4D0EC6 79.15%),
        link-bg: #5F00A5,
        logo-h: 56px
    ),
    afisha: (
        ellipse: linear-gradient(129.73deg, rgba(254, 52, 91, 0) 12.55%, #FE345B 72.7%),
        link-bg: #FF2100,
        logo-h: 56px
    )
);

.cards {
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    &__item {
        min-height: 248px;
        background: var(--color-white);
        box-shadow: tokens.$shadow-card;
        border-radius: tokens.$radius-lg;
        display: flex;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            width: 1139px;
            height: 338px;
            background: linear-gradient(97.8deg, rgba(5, 174, 235, 0.4) -19.65%, rgba(4, 217, 3, 0.4) 49.44%);
            filter: blur(210px);
            top: 76px;
            left: 700px;
        }
    }

    &__content {
        min-width: 624px;
        min-height: 228.47999572753906px;
        position: relative;
        left: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__logo {
        height: 56.48px;
        
        &--sber {
            height: 36.48px;
            padding-top: 20px;
        }
        
    }

    &__title {
        height: 80px;
        display: flex;
        flex-direction: column;
        gap: 8px;



        h3 {
            height: 48px;
            @include text(tokens.$fs-title, 700, tokens.$lh-title, var(--color-black1));
            display: flex;
            align-items: center;
        }

        p {
            @include text(tokens.$fs-text, 400, tokens.$lh-text, #26262699);
        }

    }

    &__link {
        @include button-pill(253px, 52px, tokens.$radius-md);
        background: linear-gradient(93.28deg, #99D80A 1.08%, #25B920 53.52%, #02ADEE 103.01%);
        color: var(--color-white);
        font-weight: 590;
        font-size: 24px;
        line-height: 20px;
        letter-spacing: -0.03em;
    }

    &__image {
        min-height: 228.47999572753906px;
        margin-left: auto;
        z-index: 1;
    }

    &__decor {
        position: relative;

        &--popcorn {
            top: 58.05px;
        }

        &--okko {
            top: 15.23px;
        }
    }

    // Генерация модификаторов темы
    @each $name, $theme in $themes {
        &__item--#{$name} {

            &::after {
                background: map.get($theme, ellipse);
            }

            .cards__link {
                background: map.get($theme, link-bg);
            }

            .cards__logo {
                height: map.get($theme, logo-h);
            }
        }
    }
}
