img {
  display: block;
  width: 393px;
  height: 60px;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 816px;
  height: 190px;
  background-color: var(--color-white);
  gap: 233px;
  padding: 100px 100px;
}

.header__timer {
  width: 190px;
  height: 100%;
  border-radius: 32px;
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 10%);
}
.timer-text {
  font-family: var(--font-accent);
  font-size: 32px;
  font-weight: 700;
  width: 103px;
  height: 56px;
  margin: 67px 44px;
  gap: 2px;

}
.timer__label {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray);
}

.header__logo-img img {
  display: block;
  width: 393px;
  height: 60px;
}
.header__logo-text {
  font-weight: 700;
  font-size: 67px;
}
.header__logo {
  display: inline-flex;
  align-items: center;
}

.header__logo-image {
  display: block;
  height: 24px;
  width: auto;
}

.header__value {
  font-size: 32px;
  font-weight: 700;
}

.header__logo {
  font-size: 16px;
  font-weight: 600;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
