.promo {
  width: 816px;
  height: 190px;
  display: flex;
  justify-content: space-between;

  .timer {
    width: 190px;
    height: 190px;
    border-radius: 32px;
    background: var(--color-white);
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
      width: 103px;
      height: 56px;
      padding: 67px 44px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__hidden {
      width: 61px;
      height: 16px;
      font-weight: 400;
      font-size: 13px;
      text-align: center;
    }

    &__value {
      width: 100%;
      height: 40px;
      font-weight: 700;
      font-size: 32px;
      text-align: center;
    }

  }

  &__content {
    width: 393px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    max-width: 393px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    height: 50px;
    font-weight: 590;
    font-size: 41px;
    margin: 0;
  }

  .progress-ring {
    position: absolute;
    transform: rotate(-90deg);
  }
  circle {
    fill: none;
    stroke-width: 6;
    r: 66;
    cx: 71;
    cy: 71;
  }

  .ring-bg {
    stroke: #e6e6e6;
  }

  .ring-progress {
    stroke: url(#gradient);
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s linear;
  }

}
