.promo {
    width: 816px;
    height: 190px;
    display: flex;
    flex-direction: column;

    .timer {
        width: 190px;
        height: 190px;
        border-radius: 36px;
    }

  &__content {
    width: 393px;
  }

  &__logo {
    display: inline-block;
    max-width: 280px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
  }
}
