.promo {
  width: 816px;
  height: 190px;
  display: flex;
  justify-content: space-between;

  &__content {
    width: 393px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    max-width: 393px;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__title {
    height: 50px;
    font-weight: 590;
    font-size: 41px;
    margin: 0;
  }

}
