.promo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__logo img {
    max-width: 100%;
    height: auto;
  }

  &__text {
    font-size: 16px;
    text-align: center;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
