@use '../global/tokens' as tokens;

.timer {
  width: 190px;
  height: 190px;
  border-radius: tokens.$radius-xl;
  background: var(--color-white);
  box-shadow: tokens.$shadow-elevated;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  
  &__ring-progress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: var(--timer-progress-stroke, url(#timer-gradient));
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s ease-out;
    will-change: stroke-dashoffset;
  }

  &__ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__ring-bg {
    stroke: #e5e5e5;
  }

  circle {
    fill: none;
    stroke-width: var(--stroke);
  }

  &__content {
    width: 103px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    font-family: var(--font-main);
    font-size: 18px;
    line-height: 1.2;
    color: var(--color-black1);
  }

  &__value {
    font-family: var(--font-accent);
    font-size: tokens.$fs-title;
    line-height: tokens.$lh-title;
    font-weight: 600;
    transition: opacity 0.2s ease;
  }

  &.is-finished {
    .timer__value {
      opacity: 0.6;
    }
  }
}
