@use '../global/tokens' as tokens;

.timer {
  width: 190px;
  height: 190px;
  border-radius: tokens.$radius-xl;
  background: var(--color-white);
  box-shadow: tokens.$shadow-elevated;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  
  &__ring-progress {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: url(#timer-gradient);
    stroke-linecap: round;
    transition: stroke-dashoffset 1s linear;
  }

  &__ring {
    position: absolute;
  }

  &__ring-bg {
    stroke: #e6e6e6;
  }

  &.is-finished {
    opacity: 0.5;
  }

  circle {
    fill: none;
    stroke-width: 6;
  }

  &__content {
    width: 103px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
