.timer {
  width: 190px;
  height: 190px;
  border-radius: 32px;
  background: var(--color-white);
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.1);

  &__ring-progress {
    stroke: url(#gradient);
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s linear;
  }

  &__ring {
    padding: 24px 24px;
    position: absolute;
    transform: rotate(-90deg);
  }

  &__ring-bg {
    stroke: #e6e6e6;
  }

  &.is-finished {
    opacity: 0.5;
  }

  circle {
    fill: none;
    stroke-width: 6;
  }

  &__content {
    width: 103px;
    height: 56px;
    padding: 67px 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
