:root {
  --color-green: #00a651;
  --color-black: #1a1a1a;
  --color-black1: #262626;
  --color-gray: #f5f5f5;
  --color-white: #ffffff;

  --radius: 16px;
  --transition: 0.2s ease;

  --font-main: 'Inter', sans-serif;
  --font-accent: 'Poppins', sans-serif;
  --size: 180px;
  --stroke: 10;
  --bg-color: #e5e5e5;
  --start-color: #22c55e;
  --end-color: #14b8a6;
}
