<% var data={ title: "Главная страница | Проект" }; %>

  <%= _.template(require('./../includes/header.html').default)(data) %>
  
  <main class="main">
    
    <section class="promo" aria-labelledby="promo-title">
      <%= _.template(require('./../includes/timer.html').default)() %>

      <div class="promo__content">
        <a href="/" class="promo__logo" aria-label="На главную">
          <img src="img/logo.svg" alt="Проект — на главную" width="393" height="60">
        </a>
        <h1 id="promo-title" class="promo__title">Выберите подарок</h1>
      </div>

    </section>

    <section class="card">

      <div class="card__sber">
        <div class="card__sber--info">
          <div class="card__sber--logo">
            <img src="img/logo.svg" alt="Логотип СберПрайм" width="238.69" height="36.48">
          </div>
          <div class="card__sber--text">
            <h2>60 дней подписки Прайм за 1 ₽</h2>
            <div class="card__sber--description">
              <p>Кино, музыка и выгодные предложения на каждый день в одной подвиске</p>
            </div>
          </div>
          <a href="#">Подробнее</a>
        </div>
        <div class="card__sber--image">
          <img src="img/za1p.png" alt="Телефон с приложением СберПрайм" width="451" height="437">
        </div>
      </div>

      <div class="card__okko">
        <img src="img/logo.svg">
        <h2>60 дней за 1 ₽</h2>
        <p>Смотрите бесплатно фильмы, сериалы и спорт</p>
        <a >Подробнее</a>
      </div>
      <div class="card__samocat">
        <img src="img/logo.svg">
        <h2>Кешбэк до 30%</h2>
        <p>Получайте кешбэк бонусами Спасибо с каждой покупки</p>
        <a >Подробнее</a>
      </div>            

    </section>

    <section class="faq">
      <h2 class="faq__title">Вопросы и ответы</h2>
    </section>

  </main>
  
  <%= _.template(require('./../includes/footer.html').default)() %>