<% var data={ title: "Главная страница | Проект" }; %>

  <%= _.template(require('./../includes/header.html').default)(data) %>
  
  <main class="main">
    <section class="promo" aria-labelledby="promo-title">
      <div class="timer timer--promo" data-timer>
        <svg class="progress-ring" width="142" height="142">
          <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                  <stop offset="0%" stop-color="#00c853" />
                  <stop offset="100%" stop-color="#00bcd4" />
              </linearGradient>
          </defs>
          <circle class="ring-bg"/>
          <circle class="ring-progress"/>
        </svg>
        <div class="timer__inner">
          <span class="timer__hidden">Осталось</span>
          <time class="timer__value" id="time" aria-live="polite" aria-atomic="true">05:00</time>
        </div>
      </div>
      <div class="promo__content">
        <a href="/" class="promo__logo" aria-label="На главную">
          <img src="img/logo.svg" alt="Проект" width="393" height="60">
        </a>
        <h1 id="promo-title" class="promo__title">Выберите подарок</h1>
      </div>
    </section>

    <section class="offers">
      <h2 class="offers__title">Предложения</h2>
    </section>

    <section class="faq">
      <h2 class="faq__title">Вопросы и ответы</h2>
    </section>

  </main>
  
  <%= _.template(require('./../includes/footer.html').default)() %>