@use 'global/globals.scss';
@use 'global/tokens.scss';
@use 'global/fonts.scss';


@import 'components/faq.scss';
@import 'components/promo.scss';
@import 'components/timer.scss';
@import 'components/cards.scss';

html,
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: var(--color-white);
  color: var(--color-black1);
}
main {
  padding: 100px 100px;
  gap: 20px;
}