@use 'global/reset.scss';
@use 'global/variables.scss';
@use 'global/globals.scss';
@use 'global/fonts.scss';


@import 'components/header1.scss';
@import 'components/gift-card.scss';
@import 'components/faq.scss';
@import 'components/difts.scss';

html,
body {
  font-weight: 700;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--color-dark);
}

a {
  text-decoration: none;
}

button {
  font-family: "Poppins";
}