@use 'global/reset.scss';
@use 'global/variables.scss';
@use 'global/globals.scss';
@use 'global/fonts.scss';


@import 'components/header.scss';
@import 'components/gift-card.scss';
@import 'components/faq.scss';
@import 'components/difts.scss';
@import 'components/promo.scss';

html,
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--color-white);
  color: var(--color-black1);
}