@use 'global/globals';
@use 'global/tokens';
@use 'global/fonts';

@use 'components/faq';
@use 'components/promo';
@use 'components/timer';
@use 'components/cards';

html,
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: var(--color-white);
  color: var(--color-black1);
}
.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: clamp(16px, 5vw, 100px);
}