@use 'global/reset.scss';
@use 'global/variables.scss';
@use 'global/globals.scss';
@use 'global/fonts.scss';


@import 'components/header.scss';
@import 'components/gift-card.scss';
@import 'components/faq.scss';
@import 'components/difts.scss';

html,
body {
  font-weight: 700;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--color-dark);
}

main {
  max-width: 1240px;
  width: 100%;
  margin: 100px 100px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}